# shellcheck shell=bash

watch_file flake.nix
watch_file flake.lock

ORIG_PATH=$PATH

if [ .env.nix -ot flake.nix ] || [ .env.nix -ot flake.lock ]; then
  nix print-dev-env \
    --extra-experimental-features nix-command \
    --extra-experimental-features flakes \
    .\#devShell >.env.nix.tmp
  mv .env.nix.tmp .env.nix
fi

# Load flake.nix’s devShell’s environment.
# shellcheck disable=SC1091
source .env.nix

export PATH=$PATH:$PWD/vendor/github.com/brettlangdon/git-vendor/bin:$ORIG_PATH
